<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
 

</head>
<body>
    <div id="app">
        <h4>select</h4>
        <select v-model="selectValue" @change="changeSelect" name="" id="">
            <option v-for="(option, index) in selectOptionList" :key="index" :value="option.value">{{option.text}}</option>
        </select>

        <h4>Table</h4>
        <table>
            <thead>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </thead>
            <tbody>
              
                <tr v-for="(item, index) in trList" :key="index" @click="clickTr(item.no)" style="cursor: pointer;">
                    <td>{{ item.no}}</td>
                    <td>{{ item.title}}</td>
                    <td>{{ item.writer}}</td>
                    
                </tr>
               
            </tbody>
        </table>
    </div>
 
    <script>
      
        let itemList = [
            {no: 1, title: '안녕하세요', writer: 'SSAFY'},
            {no: 2, title: 'Vue 학습하세요', writer: '부울경3반'},
            {no: 3, title: 'Spring 도요', writer: '이수경'},   
        ]
    
        const vue = new Vue({
            el: '#app',
            data: function(){
                return {
                    selectOptionList: [
                        {text:'Camping', value: 'C'},
                        {text:'Drawing', value: 'D'},
                        {text:'Singing', value: 'S'},
                    ],
                    selectValue: 'D',
                    trList: itemList,
                }
            },
            methods: {
                changeSelect(){
                    alert(this.selectValue);
                },
                clickTr(no){
                    alert(no);
                }
            },
      
        
            
        }); 


       

    </script>

</body>
</html>