<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
   

</head>
<body>
    <div id="app">
    
        <!-- 입력값이 없으면 default action 을 취소하려고 함 -->
        <!-- event modifier를 사용 X, 직접 e.prevendDefault() 호출 -->
        <form action="http://www.naver.com" target="_blank">
            <input type="text" v-model="inputText1" >
            <button type="submit" v-on:click="callSubmit">전송</button>
        </form>
    
        <!-- event modifier 를 사용 O => 일단 browser의 기본 action을 막고 callSubmit2 호출 -->
        <form @submit.prevent="callSubmit2" action="http://www.naver.com" target="_blank" id="form2">
            <input type="text" v-model="inputText2" >
            <button type="submit">전송</button>
        </form>

         <!-- event modifier 를 사용 O => 일단 browser의 기본 action을 막고 callSubmit2 호출 -->
         <form @submit.prevent="callSubmit3" target="_blank" id="form3">
            <input type="text" v-model="inputText3" >
            <button type="submit">전송</button>
        </form>
    </div>
 
    <script>
      
    
    
        const vue = new Vue({
            el: '#app',
            data: function(){
                return {
                   inputText1: '',
                   inputText2: '',
                   inputText3: '',
                   
                }
            },
            methods: {
                callSubmit: function(e){
                    console.log("callSubmit is called!!!");
                    if( this.inputText1 == '' ){
                        e.preventDefault()
                    }
                },
                callSubmit2: function(e){
                    console.log("callSubmit2 is called!!!");
                    
                    if( this.inputText2 != '' ){
                        // 전송
                        document.querySelector("#form2").submit();
                    }
                },
                callSubmit3: function(e){
                    console.log("callSubmit3 is called!!!");
                    
                    if( this.inputText3 != '' ){
                        // 전송
                        let form3 = document.querySelector("#form3");
                        form3.target = "_blank";
                        form3.action = "http://naver.com";
                        form3.submit();
                    }
                },

            }
        }); 


       

    </script>

</body>
</html>