<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>

    <style>
      table {
        border-collapse: collapse;
        border: 1px solid black;
      }
      table th,
      table td {
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <!--제품(이름, 가격) 목록 (캠핑)을 보여주는 Component를 만들고
        할인행사를 진행하기 위해 할인율(0.2)을 부모가 가지고 있는 data로부터 받아서 
        최종적으로 제품 이름, 가격, 할인 가격을 보여주려고 한다. 
        할인가격은 원 가격 - 원가격 * 할인율-->
    <div id="app">
      <product-list v-bind:discount-rate="discountRateValue"></product-list>
    </div>

    <!-- 아래 테이블 tag의 내용을 가지는 html template를 작성-->
    <template id="product-list">
      <table>
        <thead>
          <th>제품명</th>
          <th>가격</th>
          <th>할인 가격</th>
        </thead>
        <tbody>
          <tr v-for="(item,index) in productList" :key="index">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.price - (item.price*discountRate)}}</td>
          </tr>
          <!-- {{value}} -->
        </tbody>
      </table>
    </template>

    <script>
      //backenbd에서 받은 자료
      // Component의 데이터 구성 요소

      let productList = [
        {
          name: "Tent",
          price: "40000",
        },
        {
          name: "Tarp",
          price: "20000",
        },
        {
          name: "Table",
          price: "60000",
        },
      ];
      Vue.component("product-list", {
        // props,template,data
        // template는 html template
        // data는 외부 변수에 저장
        props: ["discountRate"],
        template: "#product-list",
        data() {
          return {
            productList,
          };
        },
      });
      new Vue({
        el: "#app",
        data() {
          return {
            discountRateValue: 0.2,
          };
        },
      });
    </script>
  </body>
</html>