<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div-component></div-component>
        <div-component></div-component>
        <table-component></table-component>

        
    </div>

    <template id="div-template">
        <div>HTML Div Template</div>
    </template>

    <template id="table-template">
        <table>
            <tbody>
                <tr><td>취미 1</td><td>축구</td></tr>
                <tr><td>취미 2</td><td>게임</td></tr>
                <tr><td>취미 3</td><td>영화</td></tr>
                
            </tbody>
        </table>
    </template>

    <script>
        Vue.component(
            'table-component', // 이름 
            {
                template: `#table-template`        
            }
        );

        // template 에 해당하는 HTML 을 body 안에 template tag를 이용해서 표현
        // #id 연계
        new Vue({
            el: '#app',
            components: {
                'div-component' : {
                    template: `#div-template`
                }
            }
        });

    </script>

</body>
</html>